{% extends 'base.html' %}


{% block content %}
<div class="login__reg">
    <div class="login__page">
        <form action="" method="post">
            {% csrf_token %}
            <p class="back"><a href="{{request.META.HTTP_REFERER}}"> < Back</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Are you sure you want to delete " <span class="feed__numbers">{{obj}}</span> "</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <input type="Submit" class="btn" value="Confirm">
        </form>
    </div>
</div>
{% endblock content %}