{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="group">
    <div class="group__full">
        <div class="group__header">
            <h1 class="group__title"><a href="{% url 'home' %}"><img src="{% static 'img/back.png' %}" alt="back">
                </a>{{group.name}}</h1>
            <p class="group__lang">{{group.language}}</p>
        </div>

        <div class="group__leader">
            <p class="activity__icon">
                <img src="{% static 'img/userx.png' %}" alt=". . ." />
                <span class="act__del">
                    <span class="activity__time">
                        <a href="{% url 'profile' group.leader.id %}">&nbsp; Leader <span class="leader__name">@
                                {{group.leader}}</span></a>
                        &nbsp;{{ group.created | timesince }} ago
                    </span>
                </span>
            </p>
            <p><small class="feed__members">
                    <span class="feed__numbers">{{ group.members.all.count }}</span> members
                </small>
            </p>
        </div>


        <div class="group__descr">
            <h3>Description</h3>
            <p>{{group.description}}</p>
            <p>&nbsp;</p>
        </div>

        <div class="group__converse">
            {% for message in group_messages %}
            <div class="converse__box">
                <div class="conversation__profile">
                    <a href="{% url 'profile' message.user.id %}">
                        <p><img src="{% static 'img/icon.png' %}" alt=""> @{{message.user.username}}</p>
                    </a>
                    <small> {{message.created | timesince}} ago
                        <strong>
                            {% if request.user == group.leader %}
                            <a href="{% url 'delete-message' message.id %}"><i class="fa fa-times x"
                                    aria-hidden="true"></i></a>
                            {% endif %}
                        </strong>
                    </small>
                </div>
                <p class="conversation__body">{{message.body}}
                    <hr class="hr">
                    <br>
                </p>
            </div>
            {% endfor %}

        </div>


        {% if request.user.is_authenticated %}
        <div class="message__entry">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your views here . . ." />

            </form>
        </div>
        {% endif %}
    </div>

    <div class="group__member">
        <div class="group__innersec">
            <h3 class="groupMember__lang">Group Members</h3>

            <div class="group__members">
                {% for member in members %}
                <div class="vr">
                    <p class="groupMembers__group"><img src="{% static 'img/iconorange.png' %}" alt=""> @{{member.username}}</p>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock content %}