{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="home">

    <div class="">
        {% include 'learning/languages_component.html' %}
    </div>

    <div class="">
        <h5>{{groups_count}} study groups available</h5>
        <a href="{% url 'create-group' %}">Create Group</a>
        {% include 'learning/feed_component.html' %}
    </div>

    <div class="">
        {% include 'learning/activity_component.html' %}
    </div>

</div>
<!-- <img src="{% static 'img/try.jpg' %}" alt="try" /> -->
{% endblock content %}