{% extends 'base.html' %}


{% block content %}
    <div>
        <a href="{% url 'create-group' %}">Create Group</a>
        {% for group in groups %}
            <div>
                <a href="{% url 'update-group' group.id %}">Edit Group</a>
                <span>@{{group.leader}}</span>
                <h5>{{ group.id }} -- <a href="{% url 'group' group.id %}">{{ group.name }}</a></h5>  
                <!-- /group/{{group.id}} -->
                <small>{{group.language.name}}</small>
            </div>            
        {% endfor %}

    </div>
{% endblock content %}