<div class="lang">
    <div class="lang__title">
        <h3>&nbsp;Browse&nbsp;Languages</h3>
        
    </div>
    <hr>

    <div class="lang__list">
        <div class="list__title">
            <a href="{% url 'home' %}">All <span> {{languages.count}}</span></a>
        </div>

        <div class="list">
            {% for lang in languages %}
            <a href="{% url 'home' %}?q={{lang.name}}">{{lang.name}} <span>{{lang.group_set.all.count }}</span></a>
            {% endfor %}
        </div>
    </div>
</div>