{% load static %}
<nav>
    <div class="nav__logo">
        <a href="{% url 'home' %}"><img src="{% static 'img/logos.png' %}" alt="LearningBay" /></a>
    </div>

    <div class="nav__title">
        <a href="{% url 'home' %}">
            <h2><strong>LearningBay</strong></h2>
        </a>
    </div>

    <div class="nav__search">
        <img src="{% static 'img/search.png' %}" alt="Search" />
        <form action="{% url 'home' %}" method="get">
            <input type="text" name="q" placeholder="Search by keyword . . ." />
            <hr>
        </form>
    </div>

    <div class="nav__login">
        {% if request.user.is_authenticated %}
        <div class="logged__name">
            <img src="{% static 'img/user.png' %}" alt="User" />
            <a href="{% url 'profile' request.user.id %}"><p>{{request.user}}</p></a>
            <p>&nbsp;</p>
        </div>
        <div class="logged__in ">
            <a href="{% url 'logout' %}">LogOut</a>
        </div>
        {% else %}
        <img src="{% static 'img/user.png' %}" alt="User" />
        <a href="{% url 'login-page' %}">Login</a>
        {% endif %}
    </div>
</nav>