* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scrollbar-color: white #101E3C ;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #b3b3b3;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding-left: .5%;
    padding-right: .5%;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(170, 170, 170, 0.336);
    z-index: 1001;
}

.nav__logo img {
    height: 45px;
}

.nav__title {
    font-weight: 800;
    font-size: 1.3rem;
    color: #101E3C;
}

.nav__search {
    display: flex;
    color: #101E3C;
}

.nav__search img {
    height: 30px;
}

.nav__search input {
    outline: none;
    border: none;
    color: #101E3C;
}

hr {
    color: #101E3C;
}

.nav__login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.nav__login img {
    height: 40px;
}

.list img {
    width: 12%;
    align-self: center;
    margin-top: 1rem;
}

.nav__login a {
    font-size: 1.2rem;
    padding: 5px;
    font-weight: 800;
    color: #101E3C;
}

.logged__in {
    display: flex;
    flex-direction: column;
}

.logged__name {
    display: flex;
    align-items: center;
}

.logged__name img {
    height: 28px;
}

.logged__name p {
    text-transform: capitalize;
    font-weight: 800;
}

.logged__in a {
    font-size: .8rem;
    border: 2px solid #FF4702;
    padding: 5px;
}

.home {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    overflow: hidden;
    height: 100vh;
}

.lang {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #101E3C;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
}

.lang__title {
    padding-top: 1rem;
    padding-left: .05rem;
    padding-right: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.lang hr {
    height: 6px;
    margin-right: 5%;
    left: 0px;
    background: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.lang__list {
    padding: 1rem;
}

.list__title a {
    color: #DEDEDE;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    padding: .5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 55vh;
}

.list__div {
    position: absolute;
    top: 0px;
    padding: 5px 17px 5px 0px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.list__div::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list__div {
    -ms-overflow-style: 10px;
    /* IE and Edge */
    scrollbar-width: thin;
    /* Firefox */
}

.list a {
    color: #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.activity__sec {
    background-color: #101E3C;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.activity {
    display: flex;
    flex-direction: column;
    background-color: #101e3c42;
    padding-left: 6px;
    border: 4px solid #101E3C;
    border-top: none;
    min-height: 100vh;
    width: 100%;
    border-left: 2px solid white;
}

.bay {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: .6rem;
    letter-spacing: 0.1em;

    width: 100%;
    color: rgba(255, 255, 255, 0.3)
}

.activity hr {
    margin-top: .31rem;
    border: 2px solid #ffffff73;
}

.activity__title {
    color: white;
    font-weight: 800;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.activity__abs {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 100vh;
}

.act__container {
    padding: 0px 10px 10px 10px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.act__container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.act__container {
    -ms-overflow-style: 10px;
    /* IE and Edge */
    scrollbar-width: thin;
    /* Firefox */
}

.activity__card {
    margin-top: 10px;
    background: #101E3C;
    border-radius: 5px;
    padding: 2px 4px;
    box-shadow: 0px 0px 5px #ffffff44;
}

.activity__icon {
    display: flex;
    align-items: center;
}

.act__del {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 2px;
}

.activity__icon img {
    height: 35px;
}

.activity__icon a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: .8rem;
    font-weight: 500;
}

.activity__time {
    display: flex;
    flex-direction: column;
    font-size: .55rem;
    font-weight: 300 !important;
    color: white;
    padding: 1px;
}

.act__comment {
    color: #FFFFFF;
    font-weight: 500;
    font-size: .8rem;
    margin-top: .1rem;
}

.act__group {
    color: #FFFFFF;
    font-size: .9rem;
    font-weight: 800;
}

.fa {
    color: #FFFFFF;
    font-weight: 300;
}

.act__mgroup {
    padding: 10px;
}

.act__message {
    background: rgba(231, 231, 231, 0.1);
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: .8rem;
    padding: 5px;
}

.feed__sec {
    min-height: 100vh;
    background-color: #ffffffc2;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.feed__upper {
    background-color: #fafafa;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #101E3C;
    width: 100%;
    box-shadow: 0px 4px 5px rgba(146, 146, 146, 0.63);
}

.feed__upper h2 {
    font-weight: 800;
    font-size: 1.6rem;
    color: #101E3C;
}

.feed__create {
    background: #FF4702;
    border-radius: 4px;
    border: none;
    padding: 9px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.315);
}

.feed__create a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.1rem;
}

.feed {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.feed__div {
    min-height: 100vh;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    padding: 0px 10px 10px 10px;
    scroll-behavior: smooth;
}

.feed__div::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed__div {
    -ms-overflow-style: 10px;
    /* IE and Edge */
    scrollbar-width: thin;
    /* Firefox */
}

.feed__inner {
    background: #101E3C;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}

.feed__prof {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed__prof img {
    height: 40px;
}

.feed__name {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: .9rem;
}

.feed__name a {
    color: #FFFFFF;
}

.topic {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.topic a {
    color: #FFFFFF;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-thickness: .1rem;
}

.feed hr {
    color: #e9e9e9b2;
}

.desc {
    padding: 4px 0px;
    display: flex;
    align-items: flex-start;
}

.desc h5 {
    color: #FFFFFF;
    font-weight: 600;
}

.desc p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: .75rem;
    padding: 2px 0px;
}

.feed__time {
    color: white;
    font-size: 0.6rem;
}

.feed__lang {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.feed__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed__btn {
    background: #FF4702;
    border-radius: 4px;
    width: max-content;
    padding: 2px 6px;
    margin-top: 5px;
}

.feed__members {
    color: #FFFFFF;
    font-weight: 700;
}

.feed__numbers {
    color: #FF4702;
    font-weight: 700;
}

.group {
    display: flex;
    background-color: rgba(170, 170, 170, 0.336);
    padding: 20px;
    gap: 20px;
    width: 100%;
    min-height: 70vh;
}

.group__full {
    background: #101E3C;
    padding: 15px;
    border-radius: 8px;
    color: white;
    font-size: .9rem;
    width: 100%;
    flex: 2;
}

.group__member {
    background-color: #101E3C;
    border-radius: 8px;
    flex: 1;
}


.group__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group__lang {
    border: 2px solid #FF4702;
    border-radius: 25px;
    font-weight: 700;
    padding: 5px 10px;
}

.group__title {
    display: flex;
    align-items: center;
    color: #FF4702;
    font-weight: 900;
    /* font-size: 32px; */
}

.group__title img {
    height: 40px;
}

.group__title a {
    text-decoration: none;
}

.group__leader {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.group__leader a {
    font-weight: 700;
    font-size: 1.2rem;
}

.leader__name {
    color: #FF4702;
}

.group__descr h3 {
    display: flex;
    color: #FF4702;
    font-weight: 700;
}

.group__descr p {
    font-weight: 400;
}

.group__converse {
    padding: 10px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: black;
    min-height: 40vh;
    width: 100%;
    overflow: hidden;
}

.g__c {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    padding: 10px;
    scroll-behavior: smooth;
}

.g__c::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.g__c {
    -ms-overflow-style: 10px;
    /* IE and Edge */
    scrollbar-width: thin;
    /* Firefox */
}

.converse__box {
    padding-right: 10px;
}

.conversation__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conversation__profile a {
    text-decoration: none;
    color: black;
}

.conversation__profile p {
    display: flex;
    align-items: center;
    font-weight: 800;
}

.conversation__profile img {
    height: 40px;
}

.conversation__profile small {
    font-weight: 500;
}

.conversation__body {
    padding: 0px 15px 7px 15px;
    font-weight: 400;
}

.x {
    color: #FF4702;
    border: 2px solid #101E3C;
    border-radius: 4px;
    font-weight: 800;
    padding: 2px 5px;
}

.hr {
    border: 0.001rem solid black;
    opacity: .8;
    margin: 10px;
}

.message__entry {
    width: 100%;
}

.message__entry input {
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    outline: none;
    font-size: 1rem;
    padding: 10px;
}

.group__member {
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.group__innersec {
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    padding: 20px;
    scroll-behavior: smooth;
}

.group__innersec::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.group__innersec {
    -ms-overflow-style: 10px;
    /* IE and Edge */
    scrollbar-width: thin;
    /* Firefox */
}

.groupMember__lang {
    color: #FF4702;
    width: max-content;
    border: 2px solid #FF4702;
    border-radius: 25px;
    font-weight: 700;
    padding: 5px 10px;
}

.group__members {
    display: flex;
    flex-direction: column;
    padding: 5px 25px;
}

.groupMembers__group {
    display: flex;
    align-items: center;
    font-weight: 800;
    color: #bdbdbd;
    margin-left: 5px;
}

.groupMembers__group img {
    height: 50px;
}

.vr {
    display: inline;
    height: 100%;
    width: 1px;
    border: 1px inset;
    margin: 5px;
    color: #FF4702;
}

.login__reg {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    padding: 20px;
    place-items: center;
    position: relative;
    background-image: linear-gradient(to right top, #101e3c, #3c415d, #67697f, #9393a4, #c1c0ca, #c1c0ca, #c1c0ca, #c1c0ca, #9393a4, #67697f, #3c415d, #101e3c);
}

.forms {
    position: absolute;
    top: 50px;
    bottom: 10px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
}

.forms::-webkit-scrollbar {
    display: thin;
}

/* Hide scrollbar for IE, Edge and Firefox */
.forms {
    -ms-overflow-style: 10px;
    /* IE and Edge */
    scrollbar-width: thin;
    /* Firefox */
}

.login__page {
    background-color: #101E3C;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
}

.login__page h2 {
    font-weight: 800;
    letter-spacing: .45rem;
    opacity: .6;
}

.login__page form {
    color: white;
    display: flex;
    font-weight: 700;
    flex-direction: column;
    font-size: .9rem;
}

.login__page form input {
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    color: white;
}

.btn {
    align-self: center;
    background-color: white !important;
    border-radius: 4px;
    padding: 5px 15px !important;
    font-weight: 600;
    font-size: 1.1rem;
    border: none !important;
    color: #101E3C !important;
    cursor: pointer;
}

.back a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.1rem;
    width: fit-content;
    background-color: white;
    color: #101E3C;
    padding: 2px 8px;
    border-radius: 4px;
}

.login__register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: .9rem;
    margin-top: 1.2rem;
}

.login__register a {
    margin-top: .5rem;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border: 2px solid #FF4702;
    border-radius: 4px;
}

.reg__fields {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profile__section {
    height: 20vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right bottom, #101e3c, #101e3c, #101e3c, #101e3c, #101e3c, #242d4a, #373d59, #4a4e68, #75768b, #a2a2b0, #d0cfd7, #ffffff);
    color: white;
}

.profile__section img {
    height: 150px;
}

.profile {
    display: flex;
}

.profile__feed {
    flex: 2;
}

.profile__feed h2 {
    color: #101e3c;
    margin-left: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__messages {
    flex: 1;
}

.profile__image {
    width: 100%;
    height: 100%;
    background: url("https://cdn.dribbble.com/users/1731254/screenshots/10842218/media/016e270a461152a827e6bc3801f31650.png?compress=1&resize=400x300&vertical=top");
}

.profile__details {
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav {
        padding: 5px;
    }
    .nav__logo img {
        display: none;
    }
    .nav__search img {
        display: none;
    }
    .nav__title {
        font-weight: 800;
        font-size: .8rem;
        color: #101E3C;
        margin-right: 4px;
    }
    .nav__login img {
        display: none;
    }
    .nav__search input{
        font-size: .6rem;
    }
    .nav__search {
        padding: 5px;
    }
    .nav__search hr{
        display: none;
    }
    .nav__login a {
        font-size: .8rem;
    }
    .activity__sec {
        display: none;
    }
    .home {
        display: flex;
        flex-direction: column;
    }
    .lang {
        /* display: none; */
        height: 15vh;
        overflow-y: scroll;
    }
    .logged__in a {
        outline: none;
        border: 0;
        border-left: 1px solid#101E3C;
        font-weight: 400;
        font-size: .5rem;
    }
    .activity__sec {
        display: none;
    }
    .group__member {
        display: none;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .nav {
        padding: 5px;
    }
    .nav__logo img {
        height: 25px;
    }
    .nav__search img {
        height: 20px;
    }
    .nav__title {
        font-weight: 800;
        font-size: .85rem;
        color: #101E3C;
        margin-right: 4px;
    }
    .nav__login img {
        height: 20px;
    }
    .nav__search input{
        font-size: .6rem;
    }
    .nav__search {
        padding: 5px;
    }
    .nav__login a {
        font-size: .8rem;
    }
    .home {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .activity__sec{
        display: none;
    }
    .group__member {
        display: none;
    }
  }
  
  @media only screen and (min-width: 680px) {
    .group__member {
        display: block;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 890px) {
    .nav {
        padding: 5px;
    }
    .nav__logo img {
        height: 40px;
    }
    .nav__search img {
        height: 25px;
    }
    .nav__title {
        font-weight: 800;
        font-size: 1.1rem;
        color: #101E3C;
        margin-right: 4px;
    }
    .nav__login img {
        height: 40px;
    }
    .nav__search input{
        font-size: .7rem;
    }
    .nav__search {
        padding: 5px;
    }
    .nav__login a {
        font-size: 1.1rem;
    }
    .activity h2{
        font-size: 1.4rem;
    }
    .home {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    .activity__sec{
        display: block;
    }
    .group__member {
        display: block;
    }
  }